* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border-color: white;
    border-style: solid;
    border-width: 0;
}
body {
  font-family: "poppins", sans-serif;
}
#new{
    color: rgb(194, 193, 119);
}
#h{
    color: crimson;
    margin: 0vh 1vw 0vh 1vw;
    padding-top: 1vh;
    font-size: x-large;
}

.books {
  max-width: 12vw;
}
header {
  height: 500px;
  width: 100%;
  background-image: url("./assets/kw-background.png");
  background-size: 100% 100%;
  color: white;
}

.header {
  flex-direction: column;
  max-height: 100%;
  max-width: 60%;
  padding: 4vh 5vw;
}

header h1 {
  font-size: 4.7vh;
  margin-right: 0px;
}

header h5 {
  font-size: 1.5vh;
  margin-top: 1vh;
}

.games,
.crafts {
  max-width: 17vw;
}
.games:nth-of-type(2),
.crafts:nth-of-type(2) {
  /* Your styles for every 2nd occurrence go here */
  background-color: #ccc;
}

.for-all-flex {
  display: flex;
}

.main {
  flex-direction: column;
  padding: 3vh 9vw;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}
nav>img{
  padding: 0vh 1vw;
  max-width: 23vw;
}



#cart {
  font-weight: bold;
  align-items: center;
  font-size: 2.1vh;
}
#yellow-cart {
  width: 2.5vh;
  height: 2.5vh;
  margin-top: 0.3vh;
}


.container {
  margin: 4vh 0vw;
}

.button {
  cursor: pointer;
  background-color: #6095ff;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  
}

.add img {
  width: 1.5rem;
  padding-left: 5px;
}

.add {
  margin-top: 15px;
  padding-bottom: 50px;
}

footer {
  background-color: #041a44;
  color: white;
  padding: 1vh 2vw;
  color: rgb(209, 189, 189);
}

.img {
    max-width: 10vw;
    border-radius: 5.6rem;
}


h4 {
  color: grey;
  font-weight: lighter;
}

h6 {
  font-size: 1.1rem;
}

.add p {
  font-weight: bolder;
  font-size: 2vh;
}
#details {
    flex-direction: column;
    text-align: right;
  }
  




@media only screen and (max-width: 800px) {
#details {
     flex-direction: column;
      text-align: right;
      margin: 0vh 0vw 0vh 0vw;
      padding: 0vh 0vw 0vh 0vw;
    }
      
    .add img {
        width: 3vw;
        padding-left: 5px;
      }
.main-contain {
  flex-wrap: wrap;
}
nav{
  flex-wrap: wrap;
  min-height: 3.1vh;
}
  header {
    height: 29vh;
    width: 100%;
    text-align: start;
  }
  .books {
    max-width: 28vw;
    margin: 1vh 2vw;
  }
  .button{
    margin:0vh 2vw ;
  }
  .games,
  .crafts {
  max-width: 38vw;
  margin: 1vh 2vw;
}

  header h1 {
    font-size: 4vh;
    color: rgb(248, 246, 243);
  }
    .img {
    max-width: 17vw;
    border-radius: 5.6rem;
}

}
